@model Mission8_Grp1_6.Models.Task

    <style>
        form {
            width: 50%;
            margin: 0 auto;
        }
        input[type="text"], input[type="email"], input[type="tel"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

<div class="col-3-10" style="text-align: center">
    Fill out the form below to add a task to your To-Do list!
</div>
<br />
<form method="post">
    <!-- Hidden field to send the MovieId along with the form submission -->
    <input type="hidden" asp-for="TaskID" />

    <div class="form-group">
        <label asp-for="TaskName">Task Name</label>
        <input asp-for="TaskName" class="form-control" />
        <span asp-validation-for="TaskName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDate">Due Date</label>
        <input asp-for="DueDate" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quadrant">Quadrant</label>
        <input asp-for="Quadrant" class="form-control" type="number" min="1" max="4" value="1"/>
        <span asp-validation-for="Quadrant" class="text-danger"></span>
    </div>

    <div class="form-group">
    <!-- Dropdown for selecting movie category -->
    <label asp-for="CategoryID">Category:</label><br>
    <select asp-for="CategoryID" id="CategoryID" name="CategoryID" required>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryID">@c.CategoryName</option>
        }
    </select><br><br>
    </div>

    <div class="form-group">
        <label asp-for="Completed">Completed:</label><br />
        <input type="radio" asp-for="Completed" value="true" /> Yes<br />
        <input type="radio" asp-for="Completed" value="false" /> No<br />
        <span asp-validation-for="Completed" class="text-danger"></span>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

    <!-- Display validation errors if any -->
    <div asp-validation-summary="All"></div>
</form>
