@* 
This view displays a confirmation message asking ther user if they would like to confirm
theat they want to delete the task they selected
There are two button options: Delete or Cancel
*@

@model Mission8_Grp1_6.Models.Task

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Confirmation page</h2>
            <p>Are you sure you want to delete the task "<b>@Model.TaskName</b>" from Quadrant @Model.Quadrant?</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group">
                    <input type="hidden" asp-for="TaskID"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>
