@{
}
<div class="container">
    <div class="d-flex flex-column align-items-center mb-2">
        <h1>Task List</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center" id="quad1" style="border: 1px solid black;">
            <h3 class="mt-2">Quadrant I</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Task</li>
                <li class="list-group-item">Task</li>
            </ul>
        </div>
        <div class="col text-center" id="quad2" style="border-top: 1px solid black; border-right: 1px solid black;">
            <h3 class="mt-2">Quadrant II</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Task</li>
                <li class="list-group-item">Task</li>
                <li class="list-group-item">Task</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center" id="quad3" style="border-left: 1px solid black; border-bottom: 1px solid black;">
            <h3 class="mt-2">Quadrant III</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Task</li>
                <li class="list-group-item">Task</li>
            </ul>
        </div>
        <div class="col text-center" id="quad4" style="border: 1px solid black;">
            <h3 class="mt-2">Quadrant IV</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Task</li>
                <li class="list-group-item">Task</li>
                <li class="list-group-item">Task</li>
                <li class="list-group-item">Task</li>
            </ul>
            
        </div>
    </div>
    
</div>
