@{
}

<h2>Quadrant Page</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Quadrant</th>
            <th>Category</th>
            <th>Completed</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td><a class="btn btn-primary">Edit</a></td>
        <td><a class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
</table>